# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Git installer
Git-installer.exe
